body {
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: 'merriweather', sans-serif;
  // font-family: 'karla', sans-serif;
}

:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
}