.card {
  border: 1px solid blue;
  height: 28rem;
  width: 100%;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(to right, #2E3192, #1BFFFF);
  text-align: center;

  &__image--container {
    width: 90%;
    height: 18rem;
    overflow: hidden;
    border-radius: .5rem;
    margin: .5rem 0;
  }

  .heading-secondary{
    font-size: 1.4rem;
    font-weight: 500;
    margin: .5rem 0;
    color: #fff;
  }
}