.layout {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .big-container {
    width: 30%;
    height: 30rem;
    display: flex;
    flex-direction: column;
    background-color: #eaeaea;
    border-radius: 0.8rem;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 1rem;
    width: 68%;
    gap: 1rem;

    .grid-item {
      height: 15rem;
      display: flex;
      flex-direction: column;
      background-color: #eaeaea;
      border-radius: 0.5rem;
    }
  }
}
