.header {
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo{
    padding: 1rem;

    .heading-primary {
      font-size: 2rem;
      text-transform: uppercase;
    }
  }

  &__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;

    .link {
      padding: 1rem 1.5rem;
      font-size: 1.8rem;
    }
  }

  &__btn {
    padding: 1rem;
    font-size: 1.8rem;
  }
}